<h1 class="medium">CAREER PATH</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Joining our team means you'll instantly be on a path of professional and personal growth.
      </p>
      <p>
      Working at Icalia, isn't just a nine to five, its striving to become the best version of yourself. Because in order to make something great, we need someone who is the best version of them as a great team member, coder, designer, human being.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>Growth</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      To make sure that both our team members and Icalia is constantly on a path of improvement, we provide:
      <ul>
        <li>Constant Training</li>
        <li>Major and Minor Medical Insurance</li>
        <li><a href="/culture/creative.html">Creative time</a></li>
        <li>Remote Work Possibilities</li>
        <li>Online Certifications</li>
        <li>A workspace serving as a launch pad</li>
      </ul>
      </p>
      <p>
      In addition, every three months we have honest assessments where we make sure that you get what you need in order to keep improving, have access to promotions,
      raises or generate an opportunity for yourself to growth in areas where the company haven't touched yet.
      This follow-ups can be guided with the <a href="https://en.wikipedia.org/wiki/OKR">Objective Key Results</a>(OKRs) Methodology.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PERKS</h2>
    </div>
  </div>
</article>

