<h1 class="medium">RECRUITMENT</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We are always looking for awesome people to join the team. We don't believe in
      mass recruitment, but we always keep an eye out for talented people that could
      be the right fit for Icalia. We understand the biggest advantage is the people part of this team, so inviting new members to join the crew and retaining them as part of our vision is crucial to generate the right outcome we want for every product we build.
      </p>
      <p>
      The main roles we are always seeking are Software Engineers and Digital Designers. Also, there is a management tier within the company helping coordinate daily activities, operation, sales and culture.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PEOPLE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      For every role we bet on competency and potential rather than skills. This is the reason why on-boarding and training is so important for every single member. Getting an essence of the entire culture within the company is a key factor to develop loyalty and being aligned with processes and expectations from Icalia.
      </p>
      <p>
      There are a couple of reasons Icalia is hiring every time:

      <ul>
        <li>We are looking for the best people making fit, always.</li>
        <li>If a project is about to start, we focus on combine existing members with new ones to make a living know-how transfer by executing the products.</li>
        <li>There are few people who will fit into our culture, so into the process. We need to verify every step to be sure this is going to be a great fit.</li>
      </ul>
      </p>

      <p>
      On the past we have faced different cases that have ended on firing. This is an activity we don't promote and we are not proud of it. Usually this happens due to an opportunity within Icalia's processess. There has been interviews where we hadn't have a process, we didn't approached the right way, and that's why nowadays we have a very strict  procedure.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>GREAT FIT</h2>
    </div>
  </div>
</article>

