<h1 class="medium">TRAINING</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      One of the main tasks and focus to keep our culture and practices solid is a unique training. We have learned from many situations, and we are aware the importance of training in a company, no matter dimensions, workload or industry. As a startup, training is what will reduce learning curves, accelerate productivity and generate immediate engagement on new members.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PRACTICE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      ¿What should we do when a new member is hired? We need to consider two different fields:
      <ul>
        <li>Company General Story</li>
        <li>Our Vision, Mission and Core Values</li>
        <li>Culture and Rituals Presentation</li>
        <li>Introduction to the team members</li>
        <li>Icalia’s <a href="https://docs.google.com/document/d/1-iYlopKimMwUhAj_8ZM0wa-VWiT7qkcT9P_-JdPHXKY/edit">Career Path</a> Review</li>
        <li><a href="https://docs.google.com/document/d/1xQO1ribhPVvlLJT9bzpq5FjHyV-0HjJCGdLPiea8uAM/edit">Creative Time</a> &amp; Remote Work</li>
        <li><a href="https://drive.google.com/file/d/0B0xBLypwwoZAX3E2UXZHZW9YdzQ2dVptSjQ0SmpWRGN0Ym1F/view?usp=sharing">Team Pledge</a></li>
        <li>Office Tour</li>
        <li>Welcome Kit
          <ul>
            <li>SWAG / Perks &amp; Goodies</li>
            <li>Debit card and payroll information</li>
            <li>Parking lot access</li>
            <li>Workspace keys</li>
            <li>Sign contract</li>
          </ul>
        </li>
        <li>Meal with team
          <ul>
            <li>Una comida aquí ya sea con pizzas, subway o algo pero en la oficina</li>
          </ul>
        </li>
        <li>Access to our Stack:
          <ul>
            <li>Management: Email in Google App for Business, Basecamp, Trello Board invitations, …</li>
            <li>Technology: Code Climate, Codeship, Github, Heroku, Pivotal Tracker,</li>
          </ul>
        </li>
      </ul>

      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>1. Culture</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <ul>
        <li>Get to know the different teams - a presentation with:
          <ul>
            <li>Design</li>
            <li>Engineering</li>
            <li>Sales</li>
            <li>Management</li>
            <li>Some of the interns</li>
          </ul>
        </li>
        <li>Explanation about different stacks:
          <ul>
            <li>Management</li>
            <li>Technology</li>
          </ul>
        </li>
        <li><a href="https://github.com/icalialabs/guides">Icalier Guides</a> and <a href="https://drive.google.com/open?id=0B0xBLypwwoZARzQxTDRteGloRk0">Icalier Way</a> explanation</li>
        <li>Share <a href="https://docs.google.com/document/d/1KixLW5wYVYHEHWUknnprVIud6tslD8vw-jwA41eI-40/edit">resources</a> to get involved in some of the practices we follow</li>
        <li>Brief intro to the products we are working right now</li>
        <li>Share meetups and local community information</li>
        <li>Mentoring
          <ul>
            <li>Pair Programming / Pair Designing</li>
            <li>Maximum 2 weeks</li>
          </ul>
        </li>
        <li>Stack introduction &amp; setup
          <ul>
            <li>Local environment setup with <a href="http://icalialabs.github.io/kaishi/">Kaishi</a></li>
            <li>Tech Agnosticism / Polyglotism</li>
            <li>Containers</li>
            <li>Git Workflow</li>
            <li>Testing</li>
            <li>[Designers] Sketch and Others</li>
          </ul>
        </li>
        <li>Start involvement in a real product</li>
      </ul>
    </div>
    <div class="col-5 offset-1">
      <h2>2. Operation</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      On-boarding and mentoring with an existing Icalier is key within a new or existing product to get the real essence of building the products the way we have learned.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>ICALIER</h2>
    </div>
  </div>
</article>
