<h1>GROOMING</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      During the life of a project, needs and specifications can change. To keep
      development on track, we have weekly update meetings (along with a written update
      via email or Basecamp post). On a monthly basis, we like to take a step back and
      look at all the open tickets on Pivotal. By grouping them into themes, we can
      help the client prioritize their requests and make expected results more tangible.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PRIORITIZE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
