<h1>TOOLS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Managing projects can be complicated. On small projects, we use
      <a href="http://pivotaltracker.com">Pivotal Tracker</a>
      as the main tool for keeping track of progress and client requests. Client
      requests that come in via other channels (email, Slack) are triaged and added to
      Pivotal Tracker.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>Small projects</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      For larger projects (when 3 or more Icaliers are involved), we use
      <a href="https://basecamp.com">Basecamp</a>. Basecamp provides a "paper trail" to ensure
      that each and every client request is properly addressed. Being able to post
      follow-up questions and get clarification from the client in one place, visible
      to all team members, helps make reduce confusion. Once the request has been
      well defined, we open a new ticket on Pivotal.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>Large projects</h2>
    </div>
  </div>
</article>
