@import "compass";
@import "variables";
@import "typography";

/* --------------------------------
Primary style
-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #4B4B4B;
  background: #FFF;
  font-family: $base-font-family;
  line-height: 1;
  height: 100%;
  padding-top: 180px;
  overflow-x: hidden;
}

a {
  color: #EC2D2D;
  text-decoration: none;
}

img {
  /* make images responsive */
  max-width: 100%;
}

/* --------------------------------
Main components
-------------------------------- */

.il-main-content, .il-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.il-main-content, .il-main-header {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
@media only screen and (max-width: 1169px) {
  .il-main-content.nav-is-visible, .il-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .il-main-content.nav-is-visible, .nav-on-left .il-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
}

.il-main-content {
  min-height: 100vh;
  z-index: 2;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.il-main-header {
  height: 80px;
  line-height: 80px;
  background: #ffffff;
  z-index: 3;
  border-bottom: 1px solid #F4F4F4;
  letter-spacing: 5px;
}

.nav-is-fixed .il-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed;
  top: 0;
  left: 5%;
  width: 90%;
}
@media only screen and (min-width: 1170px) {
  .il-main-header:after {
    content: "";
    display: table;
    clear: both;
  }
}

.il-logo {
  color: #979797;
  font-size: 13px;
}

.il-nav .table-of-contents {
  font-size: 13px;
  letter-spacing: 5px;
}
@media only screen and (max-width: 1169px) {
  .nav-on-left .il-logo {
    left: auto;
    right: 5%;
  }
}
@media only screen and (min-width: 1170px) {
  .il-logo {
    top: 21px;
    left: 4em;
  }
}

.il-header-buttons {
  position: absolute;
  display: inline-block;
  top: 3px;
  right: 5%;
}
.il-header-buttons li {
  display: inline-block;
}
@media only screen and (max-width: 1169px) {
  .nav-on-left .il-header-buttons {
    right: auto;
    left: 5%;
  }
  .nav-on-left .il-header-buttons li {
    float: right;
  }
}
@media only screen and (min-width: 1170px) {
  .il-header-buttons {
    top: 18px;
    right: 4em;
  }
}

.il-primary-nav, .il-primary-nav ul {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 260px;
  background: #2e3233;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.il-primary-nav a, .il-primary-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #3a3f40;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.il-primary-nav.is-hidden, .il-primary-nav ul.is-hidden {
  /* secondary navigations hidden by default */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.il-primary-nav.moves-out > li > a, .il-primary-nav ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

@media only screen and (max-width: 1169px) {
  .nav-on-left .il-primary-nav, .nav-on-left .il-primary-nav ul {
    right: auto;
    left: 0;
  }
}
.il-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
  color: #EC2D2D;
}
.il-primary-nav .il-nav-gallery .il-nav-item, .il-primary-nav .il-nav-icons .il-nav-item {
  /* items with picture (or icon) and title */
  height: 80px;
  line-height: 80px;
}
.il-primary-nav .il-nav-gallery .il-nav-item h3, .il-primary-nav .il-nav-icons .il-nav-item h3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.il-primary-nav .il-nav-gallery .il-nav-item {
  padding-left: 90px;
}
.il-primary-nav .il-nav-gallery .il-nav-item img {
  position: absolute;
  display: block;
  height: 40px;
  width: auto;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}
.il-primary-nav .il-nav-icons .il-nav-item {
  padding-left: 75px;
}
.il-primary-nav .il-nav-icons .il-nav-item p {
  color: #2e3233;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}
.il-primary-nav .il-nav-icons .il-nav-item::before {
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}
.il-primary-nav .il-nav-icons .il-nav-item.item-1::before {
  background-image: url("../img/line-icon-1.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-2::before {
  background-image: url("../img/line-icon-2.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-3::before {
  background-image: url("../img/line-icon-3.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-4::before {
  background-image: url("../img/line-icon-4.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-5::before {
  background-image: url("../img/line-icon-5.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-6::before {
  background-image: url("../img/line-icon-6.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-7::before {
  background-image: url("../img/line-icon-7.svg");
}
.il-primary-nav .il-nav-icons .il-nav-item.item-8::before {
  background-image: url("../img/line-icon-8.svg");
}
@media only screen and (max-width: 1169px) {
  .il-primary-nav {
    /* by default .il-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
  }
  .il-primary-nav.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }
}

@media only screen and (min-width: 1170px) {
  .il-primary-nav {
    height: auto;
    width: auto;
    float: right;
    overflow: visible;
    background: transparent;
  }
  .il-primary-nav:after {
    content: "";
    display: table;
    clear: both;
  }
  .il-primary-nav.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .il-primary-nav ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }
  .il-primary-nav ul.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .il-primary-nav ul.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .il-primary-nav > li {
    float: left;
    margin-left: 3em;
  }
  .il-primary-nav > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
    color: #000;
    overflow: visible;
    border-bottom: none;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    -moz-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
  }
  .il-primary-nav > li > a:hover {
    color: #000;
  }
  .il-primary-nav > li > a.selected {
    color: #EC2D2D;
    box-shadow: inset 0 -2px 0 #EC2D2D;
  }
  .il-primary-nav .see-all {
    display: none;
  }
  .il-primary-nav .il-secondary-nav, .il-primary-nav .il-nav-gallery, .il-primary-nav .il-nav-icons {
    /* dropdown menu style */
    position: absolute;
    top: 60px;
    width: 100vw;
    background: rgba(255,255,255,0);
    padding: 34px 64px 130px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  .il-primary-nav .il-secondary-nav:after, .il-primary-nav .il-nav-gallery:after, .il-primary-nav .il-nav-icons:after {
    content: "";
    display: table;
    clear: both;
  }
  .il-primary-nav .il-secondary-nav.is-hidden, .il-primary-nav .il-nav-gallery.is-hidden, .il-primary-nav .il-nav-icons.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .il-primary-nav .il-secondary-nav > .see-all, .il-primary-nav .il-nav-gallery > .see-all, .il-primary-nav .il-nav-icons > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }
  .il-primary-nav .il-secondary-nav > .see-all a, .il-primary-nav .il-nav-gallery > .see-all a, .il-primary-nav .il-nav-icons > .see-all a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid #e2e3df;
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }
  .il-primary-nav .il-secondary-nav > .see-all a:hover, .il-primary-nav .il-nav-gallery > .see-all a:hover, .il-primary-nav .il-nav-icons > .see-all a:hover {
    background: #2e3233;
    border-color: #2e3233;
    color: #ffffff;
  }
  .il-primary-nav .il-secondary-nav > li {
    /* change the height according to your needs - you can even set height: auto */
    height: auto;
    /* here you set the number of columns - use width percentage */
    width: 23%;
    float: left;
    margin-right: 2.66%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .il-primary-nav .il-secondary-nav > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }
  .il-primary-nav .il-secondary-nav > li > a {
    /* secondary nav title */
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: .6em;
  }
  .il-primary-nav .il-secondary-nav a {
    height: 25px;
    line-height: 25px;
    padding: 0 18% 0 0;
    color: #2e3233;
    border-bottom: none;
    font-size: 1.4rem;
  }
  .il-primary-nav .il-secondary-nav a:hover {
    color: #000;
  }
  .il-primary-nav .il-secondary-nav ul {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    margin-bottom: 0.6em;
  }
  .il-primary-nav .il-secondary-nav ul ul {
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .il-primary-nav .il-secondary-nav ul ul.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  .il-primary-nav .il-secondary-nav ul ul .see-all {
    display: block;
  }
  .il-primary-nav .il-secondary-nav .moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .il-primary-nav .il-nav-gallery li {
    /* set here number of columns - use width percentage */
    width: 22%;
    float: left;
    margin: 0 4% 40px 0;
  }
  .il-primary-nav .il-nav-gallery li:nth-child(4n+2) {
    /* +2 because we have two additional list items with display:none */
    margin-right: 0;
  }
  .il-primary-nav .il-nav-gallery .il-nav-item {
    border-bottom: none;
    padding: 0;
    height: auto;
    line-height: 1.2;
  }
  .il-primary-nav .il-nav-gallery .il-nav-item img {
    position: static;
    margin-top: 0;
    height: auto;
    width: 100%;
    margin-bottom: .6em;
  }
  .il-primary-nav .il-nav-gallery .il-nav-item h3 {
    color: #EC2D2D;
    font-weight: bold;
    padding: 0 .4em;
  }
  .il-primary-nav .il-nav-icons li {
    /* set here number of columns - use width percentage */
    width: 32%;
    float: left;
    margin: 0 2% 20px 0;
  }
  .il-primary-nav .il-nav-icons li:nth-child(3n+2) {
    /* +2 because we have two additional list items with display:none */
    margin-right: 0;
  }
  .il-primary-nav .il-nav-icons .il-nav-item {
    border-bottom: none;
    height: 80px;
    line-height: 1.2;
    padding: 24px 0 0 85px;
  }
  .il-primary-nav .il-nav-icons .il-nav-item:hover {
    background: #f6f6f5;
  }
  .il-primary-nav .il-nav-icons .il-nav-item h3 {
    color: #EC2D2D;
    font-weight: bold;
  }
  .il-primary-nav .il-nav-icons .il-nav-item p {
    display: block;
  }
  .il-primary-nav .il-nav-icons .il-nav-item::before {
    left: 25px;
  }
}
.has-children > a {
  position: relative;
}
.has-children > a::before, .has-children > a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #464c4e;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.has-children > a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-children > a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
@media only screen and (min-width: 1170px) {
  .has-children > a::before, .has-children > a::after {
    background: #c9cbc4;
  }
  .has-children > a:hover::before, .has-children > a:hover::after {
    background: #EC2D2D;
  }
}

.has-children > a {
  padding-right: 40px;
}
.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

@media only screen and (min-width: 1170px) {
  .has-children > a::before, .has-children > a::after {
    right: 15%;
  }

  .il-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }
  .il-primary-nav > .has-children > a::before, .il-primary-nav > .has-children > a::after {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
  }
  .il-primary-nav > .has-children > a::before {
    right: 12px;
  }
  .il-primary-nav > .has-children > a::after {
    right: 7px;
  }
  .il-primary-nav > .has-children > a.selected::before, .il-primary-nav > .has-children > a.selected::after {
    width: 14px;
  }
  .il-primary-nav > .has-children > a.selected::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  .il-primary-nav > .has-children > a.selected::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .il-secondary-nav > .has-children > a::before, .il-secondary-nav > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }
}

.il-overlay {
  /* shadow layer visible when navigation is active */
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(255,255,255,0.98);
  visibility: hidden;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}
.il-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}
@media only screen and (max-width: 1169px) {
  .il-overlay.is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  .nav-on-left .il-overlay.is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
  .il-overlay.is-visible.search-is-visible, .nav-on-left .il-overlay.is-visible.search-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* --------------------------------

support for no js

-------------------------------- */
.no-js .il-primary-nav {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}

@media only screen and (min-width: 1170px) {
  .no-js .il-primary-nav {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }

  .no-js .nav-is-fixed .il-primary-nav {
    position: fixed;
  }
}


.logo {
  position: fixed;
  left: 50%;
  margin-left: -10px;
  top: 20px;
  z-index: 101;
}

.logo svg {
  fill: #000;
  width: 40px;
  height: 40px;
}

.il-main-content img {
  margin-bottom: 40px;
}

.il-main-content h3 {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.il-main-content p {
  text-align: left;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  line-height: 23px;
  color: #4B4B4B;
  margin-bottom: 10px;
}

ul.is-hidden {
  margin-left: 12px;
}

h1.article-title {
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
}

.section-title {
  text-align: center;
  list-style: none;
  margin-top: 50px;
}

h3 {
  font-size: 18px;
  margin: auto;
}

.article-title:before, .section-title:before {
  content: '';
  display: block;
  position: relative;
  height: 70px;
  margin-top: -70px;
}

.il-main-content li {
  line-height: 26px;
  font-size: 18px;
  text-align: left;
  margin: auto;
}

.il-main-content li ul li{
  list-style-type: square;
  width: 90%;
  font-family: 'Crimson Text', serif;
}

.il-main-content li ol > li {
  list-style-type: upper-roman;
  width: 90%;
  font-family: 'Crimson Text', serif;
}
