<!doctype html>
<html lang="en" class="no-js">
<head>
<meta charset="utf-8">

<!-- Always force latest IE rendering engine or request Chrome Frame -->
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

<title>Icalia Labs Playbook</title>
<link rel="icon" href="https://s3.amazonaws.com/icalia/assets/img/favicon.ico">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,600,600italic,700' rel='stylesheet' type='text/css'>

<%= stylesheet_link_tag "reset", "animate", "playbook" %>
</head>

<body class="nav-is-fixed">
<div class="logo animated fadeInDown">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="800px" height="800px" viewBox="0 0 800 800" enable-background="new 0 0 800 800" xml:space="preserve">
    <path d="M0 0v800.02h800V640.01H639.972H479.995V480.001l0 0V160.015h159.977v319.986H800V0H0z M319.979 320.018v0.007v159.977l0 0 V640.01H159.99V480.001l0 0V320.024v-0.007V160.015h159.989V320.018z"></path>
  </svg>
</div>
<header class="navigation-bar il-main-header">
  <a class="il-logo" href="#0">PLAYBOOK</a>

  <ul class="il-header-buttons">
  </ul> <!-- il-header-buttons -->
</header>
<main class="il-main-content">
<%= yield %>
</main>


<div class="il-overlay"></div>
<nav class="il-nav">
  <ul id="il-primary-nav" class="il-primary-nav is-fixed pull-right">
    <li class="has-children">
    <a href="#" class="table-of-contents">TABLE OF CONTENTS</a>

    <ul class="il-secondary-nav is-hidden">
      <li class="go-back"><a href="#0">Menu</a></li>
      <li class="has-children">
      <a href="#">WELCOME</a>
      <a href="#">MANAGEMENT</a>
      <a href="#">OPERATIONS</a>
      <ul class="is-hidden">
        <li><a href="#">Career Path</a></li>
        <li><a href="#">Salary Formula</a></li>
        <li><a href="#">Recognition</a></li>
        <li><a href="#">Network</a></li>
      </ul>
      <a href="#">STACK & PROVIDERS</a>
      <ul class="is-hidden">
        <li><a href="#">Design tools</a></li>
        <li><a href="#">Management tools</a></li>
        <li><a href="#">Web applications</a></li>
        <li><a href="#">Mobile applications</a></li>
        <li><a href="#">Frameworks</a></li>
      </ul>
      </li>

      <li class="has-children">
      <a href="#">SALES</a>
      <a href="#">ESTIMATES</a>
      <a href="#">THE ICALIER WAY</a>
      <ul class="is-hidden">
        <li><a href="#">MVP</a></li>
      </ul>
      </li>

      <li class="has-children">
      <a href="#">DESIGN</a>
      <ul class="is-hidden">
        <li><a href="#">Setup</a></li>
      </ul>
      <a href="#">DEVELOPMENT</a>
      <ul class="is-hidden">
        <li><a href="#">Setup</a></li>
        <li><a href="#">Guides</a></li>
        <li><a href="#">Version Control</a></li>
        <li><a href="#">Testing</a></li>
        <li><a href="#">Pair programming</a></li>
        <li><a href="#">Interaction with design</a></li>
        <li><a href="#">Code Review</a></li>
        <li><a href="#">Refactor</a></li>
        <li><a href="#">Continous Integration</a></li>
        <li><a href="#">DevOps</a></li>
      </ul>
      <a href="#">PRODUCTION</a>
      <ul class="is-hidden">
        <li><a href="#">Maintenance</a></li>
        <li><a href="#">Metrics</a></li>
        <li><a href="#">Continous Delivery</a></li>
        <li><a href="#">Deployment</a></li>
      </ul>
      </li>

      <li class="has-children">
      <a href="#">CULTURE</a>
      <ul class="is-hidden">
        <li><a href="#">Core Values</a></li>
        <li><a href="#">Rituals</a></li>
        <li><a href="#">Learning Platforms</a></li>
        <li><a href="#">Creative time 20%</a></li>
      </ul>
      <a href="#">HIRING</a>
      <a href="#">FINANCES</a>
      <a href="#">BROADCASTING</a>
      <ul class="is-hidden">
        <li><a href="#">Social Networks</a></li>
        <li><a href="#">Internal Communication</a></li>
        <li><a href="#">Meetups</a></li>
        <li><a href="#">Blogs</a></li>
      </ul>
      <li><a href="#">WORKSPACE</a></li>
      </li>
    </ul>
    </li>
  </ul> <!-- primary-nav -->
</nav> <!-- il-nav -->
<%= javascript_include_tag  "all" %>
</body>
</html>
