<h1>ICALIERWAY</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Let's begin by saying that we are a multicultural team. We love having developers
      and designers with unique backgrounds on our team since it helps to have
      different approaches and ways of solving problems. Most of us are originally
      from Mexico, but we have worked and lived all over the world (Peru, Chile,
      India, and the US to name just a few!).
      </p>
      <p>
      Our Icalier journey started back in 2012. We were able to get a jumpstart on
      developing our own first product thanks to open source software. We got inspired
      thanks to a local tech community promoting meetups, hackathons and tech talks
      with passionate individuals. Because of this, we are committed to passing it on
      by contributing to open source software and supporting the local tech community
      by hosting meetups and providing internship opportunities.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>About us</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Our top 3 business priorities are:</strong>
      </p>
      <p>
      Find solid financial footing: Continue to work with quality clients that are compatible with our vision. Ensure financial stability to have a platform to contribute back to the open source community and projects for social good.
      </p>
      <p>
      Build a reputation as THE BEST software product builder: Build our expertise and reputation. Become a team which is recognized as being one of the best in the software and design industry.
      </p>
      <p>Make an impact: When creating or developing something to solve a client's specific issue, take a step back to see if larger issues can be addressed in the process.</p>
    </div>
    <div class="col-5 offset-1">
      <h2>Internal priorities</h2>
    </div>
  </div>
</article>
