<h1>BRANDING</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We at Icalia focus on logo design, identity development, and
      brand voice; we don't offer community/social media management.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>IDENTITY</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
