<h1>PROTOTYPE</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We have a great toolbox of prototyping tools like Invision  and
      Framer. We use Invision for rapidly creating clickable prototypes for testing
      or client presentations; we use Framer for generating interaction-rich
      prototypes (writing real JavaScript).
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>TEST</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
