<h1>SETUP</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      For new Icalia designers, we start by having a one-on-one chat with a senior
      designer where we talk about process, experience, and tools to ensure that we
      deliver the same high-quality design that Icalia is known for.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>DESIGN</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
