<h1>TOOLS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Starting out, we still start with the basics: paper, pens, & whiteboard walls.
      Then we move to Sketch (and to a lesser extent Adobe CS).
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>SKETCH</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
