<h1>UI/UX</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Our user experience design process starts by developing user personas, stories,
      and needs so that we can understand and be close to the product's target
      audience. We're also advocates for validating our design at every stage with
      real users to leverage their feedback for further iterations.
      </p>

      <p>
      For user interface design we use best practices to guarantee strong brand
      presence through the interface design and we work closely
      with developers to bring it to life.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>EXPERIENCE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

