<h1>PRACTICES</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Our <a href="https://github.com/IcaliaLabs/icalia_guides">Guides</a> go into the specifics
      of best practices, in general we stand by:

      <ul>
        <li>Build on what's already out there (don't reinvent the wheel).</li>
        <li>Pick convention over configuration.</li>
        <li>Keep the next developer in mind (make sure your code is clean, simple, and
        follows a style guide).</li>
        <li>Be kind in giving and getting feedback from teammates.</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>CODE OF CONDUCT</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

