<h1>GUIDES</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We put together a set of <a href="https://github.com/IcaliaLabs/guides">Icalia Guides</a>
      to document our development process. This makes the on-boarding process a
      little easier for newcomers!
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>ONBOARDING</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
