<h1>MOBILE</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Most of our mobile apps are iOS. We have built a couple of tools to help
      handle images in iOS apps including:

      <ul>
        <li><a href="https://github.com/IcaliaLabs/presentr">Presentr</a>: is a simple wrapper for the Custom View Controller Presentation API introduced in iOS 8.</li>
        <li><a href="https://github.com/IcaliaLabs/ILParabolicImageView">ILParabolicImageView</a>:
          that adds motion effects to an ImageView as the iPhone moves.</li>
        <li><a href="https://github.com/IcaliaLabs/UIImage-ImageCompress">UIImage-ImageCompress</a>
          that compresses images to optimize uploads.</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>OPEN SOURCE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

