<h1>SETUP</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We made a couple of in-house tools to help developers get up and running
      quickly:

        <ul>
          <li>
            <a href="https://docker.com">Docker</a>: we develop using docker, to prevent
            setup issues.
          </li>
          <li><a href="https://github.com/IcaliaLabs/kaishi">Kaishi</a>: set
            up dev tools and other fun stuff.
          </li>
          <li>
            <a href="https://github.com/IcaliaLabs/platter">Platter</a>: an easy Rails project
            builder with our preferred gems.
          </li>
        </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>RUN</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
