<h1>WEB APPS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We use <a href="http://rubyonrails.org/">Ruby on Rails</a> to build most of our web
      applications. Using Rails helps us get a stable MVP to our clients
      quickly. Check out our <a href="http://github.com/kurenn">CTO's</a> book about
      building <a href="http://apionrails.icalialabs.com/book/">APIs with Rails</a>!
      </p>
      <p>
      We also made a number of tools to help speed up the development process
      including:

      <ul>
        <li><a href="https://github.com/IcaliaLabs/furatto">Furatto</a> to build elegant HTML views.</li>
        <li><a href="https://github.com/IcaliaLabs/toll">Toll</a> to handle simple API authentication.</li>
        <li><a href="https://github.com/IcaliaLabs/pager-api">Page API</a> to paginate API records.</li>
        <li><a href="https://github.com/IcaliaLabs/acts_as_user">Acts as User</a> to handle multiple
          user roles.</li>
      </ul>

      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>OPEN SOURCE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
