<h1>PLEDGE</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      The client pledge is the commitment the client aquires when working with us in
      order to build a successful project.

      <ul>
        <li>Always be in touch with the development team.</li>
        <li>We are humans; we work from 9am to 6pm (we also eat).</li>
      </ul>
      </p>

    </div>
    <div class="col-5 offset-1">
      <h2>SUCCESS</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
