<h1>VALUES</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Our core values are the best representation of the culture we promote. We have selected four that represent and conglomerate a sub-set of attitudes we implicitly promote in other activities as well.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>CORE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Motivation comes from true <strong>passion</strong>

      <ul>
        <li>
          Curiosity, Proactivity, Courage, (Persistence, Vitality, Bravery),
          Fun, Self-Motivation, Learnability.
        </li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PASSION</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Every member has <strong>integrity</strong>

      <ul>
        <li>
          Respect, Honesty, Justice, Responsibility,
          Discipline, Commitment, Dignity.
        </li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>INTEGRITY</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Kindness</strong> to give before you get.

      <ul>
        <li>
          Open Source, Humility, Gratitude, Mentoring, Transparency.
        </li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>KINDNESS</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Communication</strong> as the team strategy.
      <ul>
        <li>
          TeamBuilding, Teamwork, Agile, Union.
        </li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>COMMUNICATION</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      An easy way to identify and remember this core values is with the acronym <strong>PICK</strong>: Passion-Integrity-Communication-Kindness. Nevertheless, remembering the culture is not because of shortcuts, but because of the actions.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PICK</h2>
    </div>
  </div>
</article>

