<h1>CREATIVE</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      In Icalia Labs we care about team capabilities and imagination to change the world.
      </p>
      <p>
      As part of our existence and the daily activities, it is important to keep imaging and creating internal products in order to learn about product development. Additionally, we care about the community. We need to show our work as part of our marketing, recruitment, and sales strategy. If we presume what we do, we generate more engagement outside of our circle. Although, we like to help others with all things we know as we have learned from others on the past.
      </p>

      <p>
      Every single member at Icalia Labs has 20% of their time free of usage to get involved in extraordinary things. We have learned that Fridays are the best days to spend this amount of time. For team members who aren’t spending time for Icalia Labs on Friday, you can organize yourself and see an available space during the week to achieve the 20% goal. It’s important to consider a 20% of creative time, but also an 80% of effective time dedicated to client’s projects. We need to complete our 80% work based on our weekly goals and team strategy to still have access to a 20% of creative time. If we haven’t finished weekly work, we should dedicate the rest of the time to finish that pending activities; we care about our clients, that’s firstly why we can operate and spend creative time.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>IMAGINE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Here is a list of things you could try:

      <ul>
        <li>Help as a mentor or coach in different events, such as: Startup Weekend, Lean Startup Machine, Hackathons, etc.</li>
        <li>Plan a meetup or a new group to talk about technical, creative or product development things.</li>
        <li>Build something new with the help of others in the team.</li>
        <li>Contribute to open source or design showrooms.</li>
        <li>Contribute with content to show the team’s work: Blog posts, a forum, Quora.</li>
        <li>Document processes, tasks or your knowledge in the Icalia Labs Wiki.</li>
        <li>Plan a tertulia, a design or a tech talk.</li>
        <li>Learn something new, such as a tool, framework, language or technique.</li>
      </ul>
      </p>

      <p>
      The main rule is to spend this amount of effort in personal development and in something the company is going to be rewarded as well.
      </p>

      <p>
      We have explored flexible and different approaches for the weekly approach such as using 20% of time during a month or a year with Internal Hackathons. In the end, Creative Time is a Hacker exercise that needs to encourage ourselves to move outside the typical routine and be at the same rhythm as technology moves. You can find some explanation about <a href="https://medium.com/icalia-labs/icalia-lab-s-summer-hackathon-e25ee56ecdf4#.xjq47pxau">Internal Hackathons and the Hacker Culture we embrace</a>in our blog.
      </p>

      <p>
      Talk with the team, pay attention to coming events, dynamics or anything related to the technical field in the city, or just talk with other Icaliers to build together something fresh.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>CONTRIBUTE</h2>
    </div>
  </div>
</article>
