<h1></h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      The client pledge is the commitment the client aquires when working with us in
      order to build a successful project.

      <ul>
        <li>Always be in touch with the development team.</li>
        <li>We are humans; we work from 9am to 6pm (we also eat).</li>
      </ul>
      </p>

    </div>
    <div class="col-5 offset-1">
      <h2>SUCCESS</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
Here at Icalia Labs, we believe that culture is something that defines a team. It is
not necessarily bad or good, but it is what defines us. It is a set of values
and a pattern of basic assumptions and beliefs, learned behaviours, and norms
that define us.

Culture is something that defines a team, starting with the vision and mission.

Our Vision is "Being in 10% of the world's technology by 2025", which means being part of at least one interface, one line of code, one advice of the technology used by 10% of the population living in 2025, of the technology that will drive the next generations.

Our Mission is "Be a reference positioning the software industry in Mexico,
 adding authentic value to our customers helping them to evolve with technology"

Culture has always being an essential part of the company, the entire backbone. Building a software company without a culture is like being a soccer player just for the money. On the second year we established a position called [Happiness Manager](https://docs.google.com/document/d/1WtRcOVTbzrTq1NSzewYyQh-T9y7OjsEfXGxxSaD9AZU/edit?usp=sharing), an assigned role to serve the entire team and support human situations due to the nature of building intangible technology where humans are an essential part. Main problems building software, are because of the people involved.
