<h1>MANTRA</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <ul>
        <li>Care and express about your work.</li>
        <li>Do it honestly.</li>
        <li>Always with kindness.</li>
        <li>And never stop learning.</li>
      </ul>
      </p>

    </div>
    <div class="col-5 offset-1">
      <h2>HACK & DESIGN</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
