<h1 class="medium">RECOGNITION</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Speaking up is definitely something desirable in any workplace. Great workplace cultures and great companies -in addition to wanting employees to speak up with ideas, doubts or even complains- encourage a safe and comfortable environment for employees to share those ideas or thoughts.
      </p>

      <p>
      That's where recognition happens, being open and realising every comment and action needs to be applausable.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>SPEAK UP</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
