<h1>RITUALS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Rituals are actions and behaviors that represent each of our core values.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>BEHAVIOR</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <ul>
        <li>Build someothing new.</li>
        <li>Add always value in all your activities.</li>
        <li>Never stop learning, hacking and designing.</li>
        <li>
          We provide:
          <ul>
            <li>Team Meals</li>
            <li>Team Retreats (twice a year)</li>
            <li>Online training & MOOC accounts</li>
          </ul>
        </li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>PASSION</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <ul>
        <li>Be respectful with clients and other Icaliers.</li>
        <li>Schedule your activities for personal organization.</li>
        <li>Care about your work.</li>
        <li>Be honest with your team and with our partners.</li>
        <li>Commit to your activities and be responsible.</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>INTEGRITY</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <ul>
        <li>Support the tech community (mentor at events, host meetups).</li>
        <li>Show your work to the world: Blogs, Wiki, Forums.</li>
        <li>Share your knowledge with others.</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>KINDNESS</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <ul>
        <li>Make a daily standup part of the habits in your projects.</li>
        <li>Listen carefully in the Icalia Monthly standups and other meetings.</li>
        <li>Keep in touch with all stakeholders in-person or via Basecamp, Google Hangouts,
Slack, or email.</li>
        <li>Document everything during the entire development process (READMEs, code
  comments, Github issues, git commit messages).</li>
        <li>Write down a case study to show to others your work.</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>COMMUNICATION</h2>
    </div>
  </div>
</article>
