<h1>PLEDGE</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      The team pledge is a combination of service and internal team commitments that
      help us move forward in a Kind and Integer way.
      </p>

      <p>
      The service need from us the next principles:

      <ul>
        <li>"Clients" aren't clients, they are our partners and we work with them long­-term.</li>
        <li>There are no such thing as users, they are people like us.</li>
        <li>Usability and experience design are processes, not deliverables.</li>
        <li>Pick a few things to do well; don't try to do everything.</li>
        <li>Always show a working product; it is the main measure of progress.</li>
        <li>Don’t copycat ideas, but look at current solutions and figure out how to
        improve and execute them.</li>
        <li>Always ask why.</li>
      </ul>
      </p>

      <p>
      The internal team pledge can be found <a href="https://drive.google.com/file/d/0B0xBLypwwoZAX3E2UXZHZW9YdzQ2dVptSjQ0SmpWRGN0Ym1F/view?usp=sharing">here</a>, and helps to establish order and rules to any exception or anomaly while we coexist.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>COMMITMENT</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
