<h1>BLOGS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Blogs are important part of the company's strategy to communicate better what we do. Typically we publish relevant information regarding our work and what we do, experienced events, also to search talent to join the company. Nevertheless, it has been hard generate the habit but our main source of motivation is to know that this is helping others. 
      </p>

      <p>Through <a href="/culture/creative.html">Creative Time</a> we give the possibility to team members to publish information about learnings, case studies, or just spread the word, kind of a Inbound Marketing strategy emerging from our Passion and Kindness.</p>
      <p>The most relevant blogs we have available are divided by sections in order to send the right message:
      <ul>
        <li><a href="https://medium.com/@icalialabs">Posts Repository</a></li>
        <li><a href="https://medium.com/sudo-by-icalia-labs">Engineering Blog</a></li>
        <li><a href="https://medium.com/our-team">Teams Blog</a></li>
      </ul>
      </p>
      <p>We chose <a href="http://medium.com">Medium</a> as the place to share thoughts and be our main Blog due to the fact that there is a pretty active community. Once you publish something you are reaching the right audience.</p>
    </div>
    <div class="col-5 offset-1">
      <h2>PUBLISH</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

