<h1>MEETUPS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      As a software development company, we are kindness and transparency promoters. We were benefited in this way since day 0 and it was because a particular field pushing forward this industry, Open Source. Shared knowledge is a key factor and has been key to push the entire industry.
      </p>
      <p>We also promote some local and regional initiatives to support the tech community in things we are really passionate about:</p>
      <ul>
        <li><a href="http://www.meetup.com/Monterrey-Ruby-Meetup/">Monterrey Ruby Meetup</a></li>
        <li><a href="http://www.meetup.com/iosmty/">iOS Monterrey Meetup</a></li>
        <li><a href="https://www.meetup.com/Docker-Monterrey/">Docker Monterrey Meetup</a></li>
        <li>Product Design workshops</li>
      </ul>
    </div>
    <div class="col-5 offset-1">
      <h2>SUPPORT</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
