<h1 class="medium">SOCIAL MEDIA</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Being a company working with technology, it makes sense to use for being present in the digital media and context.
      </p>
      <p>
      Last years we have been growing the social network base and the content type we share to make presence in different ways and markets. The main objectives of the communication strategy through social networks is to generate qualified leads but also attract talent that want to join the team as part of our <a href="/hiring/recruitment.html">Continuous Recruitment</a> strategy.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>IDENTITY</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>Nowadays, some tools like <a href="http://zappier.com">Zappier</a>, <a href="http://buffer.com">Buffer</a> or others, help us to automatize flows in particular social networks, and help us to be more accurate once we are moving things around the Internet.</p>
      <p>The next list considers the most used social networks in Icalia Labs and the reasons why we keep them:</p>
      <ul>
        <li><a href="https://www.facebook.com/icalialabs">Facebook</a>: We publish all type messages</li>
        <li><a href="https://twitter.com/icalialabs">Twitter</a>: We publish short messages :)</li>
        <li><a href="https://www.linkedin.com/company/icalia-labs">Linkedin</a>: The business social network, mainly used to be identified as a real company, with their members, achievements and all background ready to be exposed. This one is used to share messages with other industry colleagues.</li>
        <li><a href="https://www.instagram.com/icalialabs/">Instagram</a>: A modern and fresh social network where we are allowed to share cultural elements. We have attracted talent from this particular network.</li>
        <li><a href="https://medium.com/icalia-labs">Medium</a>: Official Blog platform for the team.</li>
        <li><a href="dribbble.com/icalialabs">Dribbble</a>: The main network to expose digital design work. Icalia Labs is positioned as the #1 team in Mexico within the network, besides it is a great to acquire new customers.</li>
        <li><a href="www.github.com/IcaliaLabs">Github</a>: The biggest social network for developers. Through this network we can actively collaborate in the Open Source world and let more people get to know our work and projects.</li>
        <li><a href="www.slideshare.net/icalialabs">Slideshare</a>: We use this platform to share presentations, <em>tertulias</em> and any kind of knowledge an Icalier has lived to share with other team members or with other people in a conference, congress or similars.</li>
      </ul>
    </div>
    <div class="col-5 offset-1">
      <h2>IDENTITY</h2>
    </div>
  </div>
</article>

