<h1>TEAM</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Communications one of our core values. It is crucial within the company due to the fact that understanding and having clear objectives and commitments with customers and the company itself is a communication taks.
      </p>

      <p>
      Many of the problems within software development and digital products are the lack of understanding about what needs to be done, to whom the product is addresses, who will use it, what problem is going to solve, additionally to other bigger factors that need to be considered every particular phase of a product development life cycle.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>UNDERSTANDING</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>Some of the tech artefacts used to keep a constant internal communication are:
      <ul>
        <li><a href="http://slack.com">Slack</a>: For ephemeral but importante messages where time is a constraint and at the same relevant - here we can share messages that need to reach all teams or probably just an individual. We have used this platform within Icalia Labs, but also we several clients to keep communication flowing.</li>
        <li>Email: The typical and practical tool used since many years ago for business purposes. Email is critical when we want to have documented and searchable any decision to serve as a backup for both parties: clients and us.</li>
        <li>Mailing List: With <a href="http://mailchimp.com">MailChimp</a> we can add every team member email and generate weekly or monthly relevant messages to be on the same page about company issues, topics or anything.</li>
        <li><a href="http://quip.com">Quip</a>: Tool mainly used for sales - estimates, quotes, proposals for new or existing clients.</li>
        <li>Phone!: It is always worth it to directly communicate with a a team member this way.</li>
      </ul>
      </p>

      <p>Rituals and dynamics we use to reinforce messages and communicate strategic or time-constrained situations are:
      <ul>
        <li>Monthly Standups (all-hands)</li>
        <li>Team Boards</li>
        <li>Agile Methodology</li>
        <li>Team Meals</li>
        <li>Retreats</li>
        <li>1-on-1s</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>ARTEFACTS</h2>
    </div>
  </div>
</article>



