<h1>STRATEGY</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We provide consultancy as a sales tool. This is the very first step when
      starting a relationship with an enterprise client. We do this to understand
      their needs and see how we can help.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>CONSULTANCY</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
