<h1>PROJECTS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Here at Icalia, some of our most interesting and challenging projects have
      come to us partially developed. Tackling these <a href="https://en.wikipedia.org/wiki/Brownfield_(software_development)">brownfield projects</a>
      requires a different approach than starting a project from scratch. In accepting
      a brownfield project, not only do we need to understand the client's vision, we
      need to evaluate how close the current project is to fulfilling that vision.
      Moreover, we need to check out the code to see how hard it will be to continue
      development.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>EXISTING PROJECT</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Some basic things that we like to check:</strong>

      <ul>
        <li>How long the project has been in development.</li>
        <li>Reasons the client wanted to switch to a new team mid-project.</li>
        <li>
          Code "health" (try to gauge technical debt via proxies like test coverage,
          code style/complexity, and security. For Ruby on Rails projects, are favorite
          tools are <a href="https://github.com/colszowka/simplecov">SimpleCov</a>,
          <a href="https://github.com/bbatsov/rubocop">Rubocop</a>, and
          <a href="https://github.com/presidentbeef/brakeman">Brakeman</a>.
        </li>
        <li>Client timeline and goals.</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>CODE METRICS</h2>
    </div>
  </div>
</article>




