<h1>MVP</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>When starting a new project, we like to follow a process that we call the "Icalier Way".  This 7-step process helps build a strong relationship with the client and helps
      ensure that we produce a <a href="https://en.wikipedia.org/wiki/Minimum_viable_product">Minimum Viable Product</a>
      that meets client expectations in a timely fashion.</p>
    </div>
    <div class="col-5 offset-1">
      <h2>NEW PROJECT</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> Get started on the right foot!
      </p>
      <p><strong>Time:</strong> 2 hours</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Meet the whole team (including developers, designers, product managers).</li>
        <li>Discuss client and Icalia pledges.</li>
        <li>Designate a product owner.</li>
        <li>Set up access to tools (Basecamp, Pivotal Tracker, Github).</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>0. KICKOFF</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> Have a clear starting point for the whole team. Clarify the problem,
      better understand the business and potential users.
      </p>
      <p><strong>Time:</strong> 1 - 3 days</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Fill out an Assumptions Worksheet.</li>
        <li>Assumptions with sticky notes. Group them in topics à la Design Thinking.</li>
        <li>Prioritization (Assumptions) Matrix.</li>
        <li>Define the Business Opportunity.</li>
        <li>Define the Problem.</li>
        <li>Define the Value Proposition (why will people pay you?).</li>
        <li>Define context­-specific terms (this will act as a dictionary).</li>
        <li>Define the Customer with a Persona Profile.</li>
        <li>Discuss short term and long term business goals (What’s the driving vision?).</li>
        <li>Fill out the Business Model Canvas (this should be continually revisited).</li>
        <li>Gather and analyze existing research.</li>
        <li>Gather inspirational and informative examples of other people/products solving similar problems.</li>
        <li>Storytelling of people using the product.</li>
        <li>Planning: Define possible needs/next modules (eg. User Research, Functional or not functional MVP)</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>1. UNDERSTANDING</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> Define the potential solution to be built in order to attack the problem
      or opportunity. Come up with lots of ways to solve the problem. Brainstorm with
      and discuss solutions that might seem "wild" or "out there". This
      module helps to build a shared understanding across stakeholders and the tech
      team. The team should be prepared to constantly ask, “How might we...”. in a
      collaborative design format and should be prepared to generate, develop, and
      communicate new ideas.
      </p>
      <p><strong>Time:</strong> 1 - 2 days</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Introduction: Agenda, Pledges &amp; Core Team [5-­10 minutes]</li>
        <li>Problem exposure and constraints (presentation or group discussion) [20 minutes]</li>
        <li>Definition of persona profile [15 minutes]</li>
        <li>Graphic Identity Session [45 minutes]</li>
        <li>Solution Prioritization [90 minutes]</li>
        <li>Design Studio ­­take parts of the problem or the most important user story</li>
        <li>Start planning user recruitment (based on Proto Persona definition)</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>2. DEFINITION</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> The goal is to have a non­functional prototype as fast as possible to see
      interaction and move forward into coding.
      </p>
      <p><strong>Time:</strong> 1 - 10 days</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Define Design Architecture (screens, use cases)</li>
        <li>UI Flow ­Storyboard</li>
        <li>Design Review</li>
        <li>Branding</li>
        <li>Sketches</li>
        <li>Design review</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>3. DESIGN</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> Validate, understand, and prove/disprove assumptions early in the
      product-building process. The main goal is to learn sooner, saving time and
      effort in development and design and reducing risks.
      </p>
      <p><strong>Time:</strong> 1 workday, plus 8 - 12 hours for user testing</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Quick n’ Dirty Research (Discovery & Usability)</li>
        <li>Session with users</li>
        <li>Review and Impressions Session</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>4. USER RESEARCH</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> Write the actual code.
      </p>
      <p><strong>Time:</strong> Project-dependent</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Develop features</li>
        <li>Check-in daily or weekly with the client to SHOW progress</li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>5. BUILD</h2>
    </div>
  </div>
</article>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      <strong>Goal:</strong> Set up appropriate monitoring that will enable the client to visualize
      user statistics and areas that need improvement.
      </p>
      <p><strong>Time:</strong> Project-dependent</p>

      <p>
      <strong>Activities:</strong>

      <ul>
        <li>Set up relevant tools, such as <a href="https://www.google.com.mx/analytics/">Google Analytics</a> or <a href="http://newrelic.com/">New Revlic</a></li>
      </ul>
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>6. LEAN STARTUP</h2>
    </div>
  </div>
</article>
