<h1>BUNDLES</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We find that bundled services work well for both us and for the clients.
      Rather than having development drag on and on with no results, we quote the
      client a one-time cost to get their product to market.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>SERVICES</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
