<h1>COMISSIONS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Out friends who successfully refer new clients to us get a small finder's fee of
      1.5% of the project total. Internally, we give a bonus of 2.5% to our sales
      team and 0.5% to technical team members that provided insight during the
      sale.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>REFER</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
