<h1>ESTIMATES</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Our estimates in general are based on two months for "time to market" for new
      products, but this varies project to project.
      After discussing the problem the client is trying to solve, we come up with
      about 15 - 17 user stories. Based on the user stories, we come up with an
      estimate.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>TIME TO MARKET</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

