<h1>LEADS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Most of our leads come from referrals from former and current clients and
      coworkers.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>WORD OF MOUTH</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
