<h1>MARKET</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      Our target market is funded startups and enterprise businesses.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>TARGET</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
