<h1>MANAGEMENT TOOLS</h1>

Managing projects can be complicated. On small projects, we use
[Pivotal Tracker](https://www.pivotaltracker.com)
as the main tool for keeping track of progress and client requests. Client
requests that come in via other channels (email, Slack) are triaged and added to
Pivotal Tracker.

For larger projects (when 3 or more Icaliers are involved), we use
[Basecamp](https://basecamp.com/). Basecamp provides a "paper trail" to ensure
that each and every client request is properly addressed. Being able to post
follow-up questions and get clarification from the client in one place, visible
to all team members, helps make reduce confusion. Once the request has been
well defined, we open a new ticket on Pivotal.
