<h1>DELIVERY</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We put a lot of effort into our applications' test suites and integrate tools
      such as <a href="https://codeship.com">Codeship</a> in order to ensure the stability of our
      production code.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>CONTINUOUS</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
