<h1>DEPLOY</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We can deploy to many different types of server infrastructure & platforms,
      such as <a href="https://azure.microsoft.com/en-us/">Azure</a>,
      <a href="https://heroku.com">Heroku</a>, and <a href="https://aws.amazon.com/">Amazon</a>.
      Also our expertise with <a href="https://www.docker.com/">Docker</a> allows us to deploy
      Docker hosts and "dockerized" apps into our client's existing private
      infrastructure.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>INFRASTRUCTURE</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
