<h1>MAINTAIN</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      When we are operating under a "maintenance" scheme, which implies a smaller
      development team, prioritizing items is VERY important. The backlog on these
      projects tends to grow, so we regularly hold prioritization sessions with the
      clients.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>SCHEME</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>

