<h1>METRICS</h1>

<article>
  <div class="row">
    <div class="col-6">
      <p>
      We use <a href="http://newrelic.com/">New Relic</a> for runtime statistics to observe application
      performance and error tracking.
      </p>
    </div>
    <div class="col-5 offset-1">
      <h2>TRACKING</h2>
    </div>
  </div>
</article>

<%= image_tag "banner.png", class: "banner" %>
